<div class="post-frame">
  <p class="post-title">
    <a href="posts/{{postID}}" class="post-location">{{postTitle}}</a>
  </p>
  <p class="post-demo">
      {{postText}}
  </p>
  <p class="post-author">
    {{postAuthor}}
  </p>
  <button type="button" class="del-post-b" id={{postID}}>Delete</button>
</div>
